/* Unique Container for Forms within Dashboard */
.dashboard-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


/* Media query for larger screens */
@media (min-width: 768px) {
    .dashboard-container {
        flex-direction: row;
        justify-content: space-between;
    }
}

.dashboard-forms-container {
    flex: 1;
}

.dashboard-expense-form{
    padding: 20px;
    border-radius: 5px;
    min-width: 0;
    width: 100%;
    box-sizing: border-box;
    max-width: 450px;
    background-color: #e0f1f6;
}

.dashboard-budget-form, .login-form, .signup-form {
    background-color: #e1f1ea;
    border: 1px solid #eaeaea;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px 0;
    max-width: 350px;
    width: 100%;
    box-sizing: border-box;
    min-width: 300px;
}

.login-form, .signup-form {
    background-color: #c0d6df;
}

/* Styling for headings inside the containers */
.h2-titles, .p-titles {
    color: #31708f;
    margin-bottom: 20px;
    margin-top: 10px;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
}

.p-titles {
    font-size: 18px;
    text-transform: none;
}

.button-submit-form {
    display: flex;
    justify-content: center;
}

/* Additional styling to ensure content is not shrunk */
.form-control, .select-control {
    max-width: 100%;
}

.login-form-container, .signup-form-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* Styling for .form-section-container specifically */

.dashboard-expense-form .form-section-container, .dashboard-budget-form .form-section-container, .login-section-container, .signup-section-container {
    padding: 15px;
    background-color: #f3f4f5;
    border-radius: 8px;
    border: 1px solid #cecece;
}

/* Ensuring input and select elements inside the specific forms have consistent styling */
.dashboard-budget-form .form-control, .dashboard-expense-form .form-control,
.dashboard-budget-form .select-control, .dashboard-expense-form .select-control ,
.login-section-container .form-control, .signup-section-container .form-control {
    width: 100%;
    padding: 8px 12px;
    margin-bottom: 16px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

/* Styling for labels within the specific forms for clarity */
.dashboard-budget-form .label,
.dashboard-expense-form .label,
.dashboard-budget-form .control-label,
.dashboard-expense-form .control-label {
    display: block;
    margin-bottom: 8px;
    color: #495057;
    font-weight: bold;
}

/* Button styling within the specific forms */
.dashboard-budget-form .form-button,
.dashboard-expense-form .form-button {
    width: 100%;
    padding: 10px 0;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
}

.dashboard-budget-form .form-button:hover,
.dashboard-expense-form .form-button:hover {
    background-color: #0056b3;
}

/* Error message styling */
.dashboard-budget-form .error-message,
.dashboard-expense-form .error-message {
    color: #d9534f;
    background-color: #f2dede;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 15px;
}

.custom-card-border {
    border: 1px solid #c0c0c0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 10px;
    background-color: #f8f9fa;
}

.card-container {
    padding: 0;
}


.budget-list-container {
    flex: 2;
    background-color: #e1f1ea;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    border: 1px solid #eaeaea;
}

.expense-list-container {
    background-color: #e0f1f6;
    display: flex;
    flex-direction: row;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #eaeaea;
    border-radius: 8px;
}

.no-budget-item-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.budget-item-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}

.budget-item{
    flex: 1 1 calc(50% - 20px);
    display: flex;
    flex-direction: column;
    max-width: calc(50% - 20px);
    min-width: 275px;
    font-size: 0.85em;
}

@media (max-width: 768px) {
    .budget-item{
        flex: 1 1 calc(50% - 20px);
        max-width: calc(50% - 20px);
        min-width: 275px;
    }
}

@media (max-width: 480px) {
    .budget-item {
        flex: 1 1 100%;
        max-width: 100%;
        min-width: 275px;
    }
}

.expenses-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.expense-item {
    flex: 1 1 calc(50% - 20px);
    display: flex;
    flex-direction: column;
    min-width: 230px;
    max-width: calc(50% - 20px);
    font-size: 0.85em;
}

/* Alerts styles start */

.required {
    color: #d9534f;
}

.alert-danger {
    margin-top: 10px;
    background: #f3e9e8;
    padding-right: 10px;
}

.alert-success {
    background: #d8eeca;
    border-color: #278400;
    margin-top: 10px;
    font-weight: bold;
}

.alert-success p {
    padding-top: 10px;
}
.close {
    margin-right: 10px;
}

/* Alerts styles end*/

/* Modal styles start */

/* modal animations */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes zoomIn {
    from { transform: scale(0.95); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}

/* Style for the modal backdrop */
.modal-backdrop-custom {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.95);
    animation: fadeIn 0.3s ease-out forwards;
    padding-top: 15px;
}


/* Style for the modal header */
.modal-header-custom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #2e5274;
    color: #fff;
}


/* Style for the close button */
.close-button-custom {
    color: #fff;
    opacity: 1;
    position: absolute;
    top: 15px;
    right: 15px;
    margin-right: 10px;
}


.modal-dialog-custom {
    max-width: 600px;
    width: auto;
    margin: auto;
    animation: zoomIn 0.3s ease-out forwards;
}

/* Centering form content inside the modal */
.modal-body-custom {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-height: 70vh;
    overflow-y: auto;
    padding: 15px;
    /*background-color: #ecf4f6;*/
}

/* Ensure modal content width is responsive and forms are well adjusted */
.modal-content {
    width: 100%;
    max-width: 600px;
    margin: auto;
    min-height: 100vh;
}

.modal-footer {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* Modal styles end */

/* Action buttons start */

.action-buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
}

/* Action buttons end*/

.custom-card-border:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
}

/* Enhanced Card Title Styles */
.card-title {
    color: #31708f;
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 15px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.btn {
    font-weight: 700;
}


/* Button Redesign */
.action-buttons .btn {
    /*margin-top: 10px;*/
    margin-right: 5px; /* Space between buttons */
}

.action-buttons .btn i {
    margin-right: 5px; /* Space between icon and text */
}

/* If using FontAwesome */
.action-buttons .btn .fa-edit {
    margin-right: 5px;
}

.action-buttons .btn .fa-trash {
    margin-right: 5px;
}

/* Progress Bar Enhancement */
@keyframes progress-bar-stripes {
    from { background-position: 3rem 0; } /* Adjusted for even wider stripes */
    to { background-position: 0 0; }
}

.progress {
    height: 2rem; /* Maintaining wider bars */
    background-color: #e9ecef;
    border-radius: 0.25rem;
}

.progress-bar {
    height: 100%;
    color: white;
    text-align: center;
    /* Increased contrast in the stripe color and made stripes wider */
    background-image: linear-gradient(45deg, rgba(255,255,255,.3) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.3) 50%, rgba(255,255,255,.3) 75%, transparent 75%, transparent);
    background-size: 3rem 3rem; /* Significantly wider stripes */
    animation: progress-bar-stripes 1s linear infinite;
}

.bg-success { background-color: #28a745 !important; } /* Green */
.bg-warning { background-color: #ffc107 !important; } /* Orange/Yellow */
.bg-danger { background-color: #dc3545 !important; } /* Red */


/* Modal Styling */
.modal-content {
    border-radius: 0.5rem;
    box-shadow: 0 5px 15px rgba(0,0,0,.3);
}


/* Logout Buttons */

#wb-so .modal-body-custom {
    display: block;
}

#wb-so .logout-btns .btn {
    border-radius: 4px;
    padding: 10px 20px;
    font-weight: bold;
}

.logout-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.logout-btns .btn{
    margin: 7px;
}
